
h1{
    text-align: center;
}

table{ 
    table-layout: fixed;
    width: 100%;
    height: 300px;
}

td{
    border: solid 2px;
}

.messagerie{
    width: 70%;
    overflow: auto;
}

.user{
    width: 30%;
    position: relative;
    vertical-align: top;
    text-align: center;
}

.redaction{
    position: relative;
    vertical-align: bottom;
    text-align: right;
}

.mesMes{
    text-align: right;
}

.autreMes{
    text-align: left;
}

.mesInfo{
    text-align: center;
    font-style: italic;
}

